*::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --cell-size--: 150px;
    --mark-size--: calc(var(--cell-size--) * .9);
}

body {
    font-family: 'Press Start 2P', 'Roboto', 'Open Sana', sans-serif;
}

.gameboard {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);

    font-size: 8em;
}

.gameboard-square {
    height: var(--cell-size--);
    width: var(--cell-size--);
    border: 1px solid black;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gameboard-square.x,
.gameboard-square.o {
    cursor: not-allowed;
}

/* Remove outside borders from gameboard */
.gameboard-square:first-child,
.gameboard-square:nth-child(2),
.gameboard-square:nth-child(3) {
    border-top: none;
}

.gameboard-square:nth-child(3n + 1) {
    border-left: none;
}

.gameboard-square:nth-child(3n + 3) {
    border-right: none;
}

.gameboard-square:nth-child(7),
.gameboard-square:nth-child(8),
.gameboard-square:last-child {
    border-bottom: none;
}

/* Make X and O marks with CSS */
.gameboard-square.x::before,
.gameboard-square.x::after,
.gameboard.x .gameboard-square:not(.x, .o):hover::before,
.gameboard.x .gameboard-square:not(.x, .o):hover::after {
    content: "";
    width: calc(var(--mark-size--) * .15);
    height: var(--mark-size--);
    background-color: black;
    rotate: 45degrees;
}

.gameboard-square.x::before,
.gameboard.x .gameboard-square:not(.x, .o):hover::before {
    rotate: 45deg;
}

.gameboard-square.x::after,
.gameboard.x .gameboard-square:not(.x, .o):hover::after {
    rotate: -45deg;
    position: absolute;
}

.gameboard.x .gameboard-square:not(.x, .o):hover::before,
.gameboard.x .gameboard-square:not(.x, .o):hover::after {
    background-color: silver;
}

.gameboard-square.o::before,
.gameboard-square.o::after,
.gameboard.o .gameboard-square:not(.x, .o):hover::before,
.gameboard.o .gameboard-square:not(.x, .o):hover::after {
    content: "";
    border-radius: 50%;
    position: absolute;
}

.gameboard-square.o::before,
.gameboard.o .gameboard-square:not(.x, .o)::before {
    width: var(--mark-size--);
    height: var(--mark-size--);
    background-color: black;
}

.gameboard-square.o::after,
.gameboard.o .gameboard-square:not(.x, .o)::after {
    width: calc(var(--mark-size--) * .7);
    height: calc(var(--mark-size--) * .7);
    background-color: white;
}

.gameboard.o .gameboard-square:not(.x, .o)::before {
    background-color: silver;
}